version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly
    ignore:
      - dependency-name: "*"
        update-types:
          # patch and minor updates don't matter for libraries, because binaries
          # lockfile decides.
          - "version-update:semver-patch"
          - "version-update:semver-minor"
